body {
      background-image: url('../images/note.jpeg'); /* Adding image as a background*/
      background-repeat: no-repeat; 
      background-attachment: fixed; 
      background-position: center center; 
      background-size: cover; 
}


/* Editing the <main>*/
.main, footer{
      text-align: center;
}


.welcome{
      margin-top: 5%;

}

div>h2 {
      margin-bottom: 5%; 

}

h2 {
      font-size: 40px; 
}

.welcome h1 {
      font-size: 80px; 
}

#big{
      width: 40%; 
      height: 4px; 
      margin: 5px auto;
      background-color: black; 
}

#small{
      width: 35%; 
      height: 4px; 
      margin: 5px auto;
      background-color: black; 
      margin-bottom: 1%;
}


#subheading {
      font-size: 35px;
}

/* Footer and Log in Button styling */
.footer{
      margin-top: 200px;
}

.custom-btn {
      width: 130px; 
      padding: 12px;
      font-size: 19px;
      font-weight: bold; 
      box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.407); 

}
